.product-container{
    display: flex;
    flex-wrap: wrap;
}
.product-item{
  border: 1px solid #ccc;
  padding: 20px;
    margin: 20px;
   

}
.pimg{
    width: 300px;
    max-height: 200px;
    max-width: 200px;
}